* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(/assets/images/aurora.jpg) top center no-repeat;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Gilroy-Medium', sans-serif;
}

:root {
    --color-primary: #005AE2;
    --color-primary-2: #0065FE;
    --color-white: #FFFFFF;
    --gradient-background: #1E3448;
    scroll-behavior: smooth;
}

a,
a:link,
a:active,
a:visited {
    text-decoration: none;
}


ul li a {
    color: black;
}

.text-primary {
    color: var(--color-primary-2);
}

.text-right {
    text-align: right;
}

.btn {
    border: none;
    display: inline-block;
    font-family: 'Gilroy-Medium', sans-serif;
}

.with-stroke {
    position: relative;
    height: 100%;
}

.with-stroke::after {
    position: absolute;
    left: 56px;
    top: 16px;
    display: inline-block;
    content: url(/assets/icons/Vector\ 3.png);
    width: 10px;
}

.has_sidebar {
    position: relative;
    height: 100%;
}

.has_sidebar::after {
    position: absolute;
    content: '';
    left: -15px;
    top: 0;
    height: 100%;
    width: 5px;
    background: linear-gradient(180deg, #112232 0%, rgba(77, 107, 136, 0) 100%);
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}


.btn-primary {
    background-color: var(--color-primary-2);
    color: #FFFFFF;
    border-radius: 20px;
    padding: .7rem 2rem;
}

.btn-secondary,
.btn-secondary-outline {
    color: var(--color-primary-2);
    border-radius: 20px;
    padding: .7rem;
    background-color: transparent;
}

.btn-secondary-outline {
    border: 1px solid var(--color-primary-2);
}

.cta_buttons {
    margin-bottom: 3rem;
}

.cta button {
    margin: 5px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 6rem;
    padding-right: 6rem;
    background: transparent;
    width: 100%;
}

@media screen and (max-width: 982px) {
    .nav {
        padding-right: 10px;
        padding-left: 10px;
    }
}

.nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navigation__checkbox {
    display: none;
}

.navigation__icon {
    display: none;
}

#logo img {
    margin-top: 6px;
    height: 80%;
}


#showcase {
    text-align: center;
    padding-top: 1rem;
    position: relative;
}

#showcase .showcase_header {
    line-height: 3.78rem;
}

#showcase .info {
    width: 47%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    line-height: 1.5;
}

#showcase #info_card {
    position: relative;
    width: 40rem;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 3rem;
    padding: 2rem 3rem;
    text-align: left;
    background: rgba(254, 254, 254, 0.1);
    border: 0.5px solid #005AE2;
    backdrop-filter: blur(106px);
}

#showcase #info_card img {
    width: 50%;
}

#showcase #info_card #info_details {
    width: 76%;
    margin: auto;
    margin-top: .4rem;
    text-align: center;
}

#showcase #vector2 {
    position: absolute;
    top: 370px;
    left: 310px;
    z-index: -10;
    height: 30%;
}

#showcase #showcase_foot {
    position: relative;
    width: 100%;
    height: 93px;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 93px solid #F8F7F7;
}

#showcase #showcase_foot div {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 2%;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(226, 233, 240, 0.7) 10.68%, rgba(220, 228, 235, 1) 44.01%, rgba(226, 233, 240, 1) 100%);
    filter: drop-shadow(0px 4px 4px rgba(18, 36, 89, 0.35));
}

#myurls {
    display: flex;
    padding: 2rem 6rem;
    align-items: center;
    justify-content: space-between;
    background-color: #F9FBFD;
}

#myurls .head {
    width: 35%;
}

#myurls .details {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

#myurls .details div {
    width: 20%;
}

#whyUs {
    padding: 4rem 6rem;
    display: flex;
    justify-content: space-between;
}

#whyUs .head {
    width: 35%;
}

#whyUs .details {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#whyUs .details div {
    width: 16rem;
    margin: 0 2rem 3rem 0;
}

#whyUs .details div img {
    width: 40px;
    margin-bottom: 10px;
}

#pricing {
    text-align: center;
}

#pricing h2 {
    margin-bottom: .7rem;
}

#pricing #pricing_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#pricing #pricing_cards .card {
    text-align: left;
    padding: 1rem 1.8rem;
    border: 1px solid var(--color-primary-2);
    border-radius: 5px;
}



#pricing #pricing_cards .card:first-of-type {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#pricing #pricing_cards .card:last-of-type {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#pricing #pricing_cards .card .title {
    margin-bottom: 1rem;
}

#pricing #pricing_cards .card .price,
.description {
    margin-bottom: 10px;
}

#pricing #pricing_cards .card .price {
    font-size: 1.5rem;
    font-weight: 700;
}

#pricing #pricing_cards .card ul {
    list-style: none;
}

#pricing #pricing_cards .card ul li {
    margin-bottom: .6rem;
    font-size: .9rem;
}

#pricing #pricing_cards .card ul li i {
    color: var(--color-primary-2);
    margin-left: 5px;
}

#pricing #pricing_cards .card.primary {
    color: var(--color-white);
    background-color: #1E3448;
    border: none;
    height: 400px;
    padding-top: 4rem;

}

#pricing #pricing_cards .card.primary li i {
    color: var(--color-white);
}

#formsection {
    background-color: var(--gradient-background);
    background-image: url(/assets/bg/Group\ 2.png), url(/assets/bg/Group\ 3.png);
    background-position: right bottom, left top;
    background-size: contain, contain;
    background-repeat: no-repeat, no-repeat;
    padding: 6rem 0;

}

#formsection form {
    background-color: #FFFFFF;
    border: 1px solid black;
    border-radius: 5px;
    width: 29rem;
    margin: auto;
    padding: 2rem;
}

#formsection form #url {
    width: 100%;

}

#formsection form input,
#formsection form select {
    color: var(--color-primary-2);
    padding: 10px;
    border: 1px solid var(--color-primary-2);
    border-radius: 5px;
    margin-bottom: 20px;

}

#formsection form input::placeholder,
select::placeholder {
    color: var(--color-primary-2);
}

#formsection form input:focus,
select:focus {
    outline: none;
}


#formsection form button {
    width: 100%;
}

#formsection form div {
    display: flex;
    justify-content: space-between;
}

#formsection form div select,
input {
    width: 48%;
}

#formsection .terms {
    margin-top: 1rem;
    color: #0065FE;
    font-size: 12px;
}

#faq {
    background-image: url(/assets/bg/Group\ 4.png), url(/assets/bg/Group\ 5.png);
    background-position: right bottom, left top;
    background-size: 300px, 250px;
    background-repeat: no-repeat, no-repeat;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#faq h2 {
    text-align: center;
    margin-bottom: 2rem;
}

#faq ul {
    margin: auto;
    width: 60%;
    list-style-type: none;
}

#faq ul li {
    padding: 1rem .5rem;
    border-bottom: 1px solid #ccc;
    position: relative;
}

#faq ul li i {
    position: absolute;
    top: 30%;
    right: 0;
    font-size: 1.3rem;
}

#faq ul li:first-of-type i {
    position: absolute;
    top: 10%;
    right: 0;
    font-size: 1.3rem;
}

#faq ul p {
    padding-right: 3rem;
    font-size: .97rem;
}

#cta {
    background-color: var(--gradient-background);
    background-image: url(/assets/bg/Group\ 7.png), url(/assets/bg/Group\ 6.png);
    background-blend-mode: screen;
    background-position: right bottom, left top;
    background-size: contain, contain;
    background-repeat: no-repeat, no-repeat;
    padding: 6rem 0;
    color: #FFFFFF;
    text-align: center;

}

#cta h2 {
    margin-bottom: 2rem;
}

footer {
    background-image: url(/assets/bg/Group\ 9.png), url(/assets/bg/Group\ 8.png);
    background-blend-mode: screen;
    background-position: right bottom, left top;
    background-size: 450px, contain;
    background-repeat: no-repeat, no-repeat;
    padding: 3rem 6rem;
}

footer li,
footer p {
    font-size: .89rem;
}

footer div ul {
    list-style: none;
}

footer .footer_data {
    display: flex;
    justify-content: space-between;


}

footer .footer_data .head {
    width: 30%;
    text-align: center;

}

footer .footer_data .head ul {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;

}

footer .footer_data div {
    width: 65%;
}

footer .footer_data div .body {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    width: 100%;
}

footer .footer_data div .body div {
    width: 22%;
}